/* Background */
body {
    background-image: url(https://wallpapers.com/images/hd/sad-aesthetic-snowy-blue-park-8pikhdf5t82gdpib.jpg);
    color: #033047;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Title */
h1 {
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px #89aac5;
    color: white;
}

/* Headings */
h2 {
    font-size: 35px;
    text-align: center;
}

/* List Items */
li {
    font-size: 25px;
    line-height: 50px;
}

/* To Do List Items */
label {
    display: block;
    font-size: 25px;
    margin-left: -35px;
    line-height: 50px;
}

/* Layout */
.layout {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* Style */
.todo, .playlist {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px;
    padding: 25px;
    background-color: #ffffffe7;
    border-color: #033047;
    border-width: 15px;
    border-style: double;
    border-radius: 50px;
}

/* Water Reminder Alert */
dialog {
    opacity: 0;
    font-size: 50px;
    color: mediumturquoise;
    transition: opacity 1000ms;
    border-radius: 20px;
    border-color: lightblue;
    background-color: white;
    border: none;
}

/* Navigation Menu */
nav {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.699);
    text-decoration: none;
}

#nav {
    color: black;
}