/* Background */
body {
    background-image: url(https://wallpaperaccess.com/full/2622750.jpg);
    color: #4d0000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Title */
h1 {
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px #4d0000;
    color: white;
}

/* Headings */
h2 {
    font-size: 35px;
    text-align: center;
}

/* List Items */
li {
    font-size: 25px;
    line-height: 50px;
}

/* To Do List Items */
label {
    display: block;
    font-size: 25px;
    margin-left: -35px;
    line-height: 50px;
}

/* Layout */
.layout {
    display: flex;
    flex-flow: row;
    justify-items: center;
}

/* Style */
.todo, .playlist {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px;
    padding: 25px;
    background-color: #ffffffe7;
    border-color: #4d0000;
    border-width: 15px;
    border-style: double;
    border-radius: 50px;
}